<div class="container">
  <div class="row justify-content-center">
    <div class="col-9">
      <div class="shadow-lg card border-top-primary border-top-3 mb-3">
        <div class="card-header ">
          <h3 class="what">
            <button class="btn btn-sm btn-primary float-end" data-bs-toggle="modal" data-bs-target="#MailSetPopup"><svg cIcon class="me-2" name="cilSettings"></svg>Set</button>
            <div class="btn-group float-end" style="margin-right: 0.3vw" role="group" ngbRadioGroup name="radioBasic" [(ngModel)]="model">
              <label ngbButtonLabel class="btn-primary btn-sm">
                <input ngbButton type="radio" class="btn-check" id="test" [value]="1"> message
              </label>
              <label ngbButtonLabel class="btn-primary btn-sm">
                <input ngbButton type="radio" class="btn-check" id="test2" [value]="2" >alerts
              </label>
            </div>
            <div *ngIf="model == 1"  >
              <app-msg-log></app-msg-log>
            </div>
            <div *ngIf="model != 1">
              <app-alert-log></app-alert-log>
            </div>
          </h3>
        </div>
      </div>
    </div>
  </div>
</div>























<!-- Modal -->
<div class="modal fade" id="MailSetPopup" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="hmmyes modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Mail Set</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

