 <div class="card-body">
   <div class="table-computer scrollable">
     <table class="table table-borderless table-hover">
       <thead>
       <tr class="table2 fixed">
         <th scope="col">Configuration</th>
         <th scope="col">Computer</th>
         <th scope="col">Date</th>
         <th scope="col">Result</th>
         <th scope="col"></th>
       </tr>
       </thead>
       <tbody>
         <tr class="column1" *ngFor="let report of reports">
                    <td>{{ report.configurationAssignment.configuration.name }}</td>
                    <td>{{report.configurationAssignment.computer.name}}</td>
                    <td>{{ report.date }}</td>
                    <td>{{ report.result }}</td>
                  </tr>

       </tbody>
     </table>
   </div>
 </div>
