 <div class="card-body">
   <div class="table-computer scrollable">
     <table class="table table-borderless table-hover">
       <thead>
       <tr class="table2 fixed">
         <th scope="col">Computer</th>
         <th scope="col">Nickname</th>
         <th scope="col">IP</th>
         <th scope="col">MAC</th>
         <th scope="col"></th>
       </tr>
       </thead>
       <tbody>
         <tr class="column1" *ngFor="let reports of reports">
                    <td>{{ reports.id }}</td>
                    <td>{{ reports.configurationAssignments.computer.name }}</td>
                    <td>{{ reports.date }}</td>
                    <td>{{ reports.result }}</td>
                    <td><button class="btn bg-light mat-raised-button" routerLink="/computers/editcomputer"><svg cIcon class="me-2" name="cilSettings"></svg>Edit</button></td>
                  </tr>

       </tbody>
     </table>
   </div>
 </div>
