<form (ngSubmit)="submit()" #computerform="ngForm">
  <div class="shadow button-bar card border-top-primary border-top-3 mb-3">
    <div class="card-header list-group-item-action">
      <button class="btn" type="text" aria-current="true">Edit Computer<svg cIcon class="me-2" name="cilPencil"></svg></button>
    </div>
    <div class="form-group input-group margin-top disabled">
      <label for="id" class="col-sm-2 col-form-label cor-form-center" style="display: block; text-align: center;">PC</label>
      <div class="col-sm-9">
        <input type="text" class="form-control-xl form-control" id="id"
               required
               [(ngModel)]="model.id" name="id"
               #id="ngModel" disabled>
      </div>
    </div>

    <div class="input-group form-group margin-top" >
      <label for="name" class="col-form-label col-sm-2 cor-form-center" style="display: block; text-align: center;">Nick Name</label>
      <div class="col-sm-9">
        <input type="text" class="form-control-xl form-control" id="name"
               required
               [(ngModel)]="model.name" name="name"
               #name="ngModel">
        <div [hidden]="name.valid || name.pristine"
             class="alert alert-danger">
          Name is required
        </div>
      </div>
    </div>

    <div class="form-group input-group margin-top ">
      <label for="IP" class="col-sm-2 col-form-label cor-form-center" style="display: block; text-align: center;">IP</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="ip"
                                   required
                                   [(ngModel)]="model.ip" name="ip"
                                   #ip="ngModel">
        <div [hidden]="ip.valid || ip.pristine"
             class="alert alert-danger">
          IP is required
        </div>
      </div>
    </div>
    <div class="form-group input-group margin-top">
      <label for="MAC" class="col-sm-2 col-form-label cor-form-center" style="display: block; text-align: center;">MAC</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="mac"
               required
               [(ngModel)]="model.mac" name="mac"
               #mac="ngModel">
        <div [hidden]="mac.valid || mac.pristine"
             class="alert alert-danger">
          MAC is required
        </div>
      </div>
    </div>
  </div>



<div class="input-group form-group margin-top" >
  <label for="group" class="col-form-label col-sm-2 cor-form-center" style="display: block; text-align: center;">Groups</label>
  <div class="col-sm-9" >
    <div class="" id="group">
      <button *ngFor="let group of model.groupComputers" class="list-group-item list-group-item-action" type="button" aria-current="true">{{group.group.name}}<button class="btn btn-sm btn-secondary float-end bg-light" type="button">remove</button></button>
    </div>
  </div>
  <button type="button" class="btn btn-outline-secondary bg-light" data-bs-toggle="modal" data-bs-target="#exampleModal">Add</button>
</div>
<button (click)="show()" class="list-group-item list-group-item-action margin-top" type="button" aria-current="true">
  <button class="btn btn btn-secondary bg-light" routerLink="/computers">Cancel</button>
  <button (click)="submit()" type="submit" class="btn btn btn-primary float-end">Save</button>
</button>
</form>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header card-header list-group-item-action">
        <button class="btn " type="text" aria-current="true">Edit Computer</button>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <select [(ngModel)]="selectedgroup" class="form-select form-select-sm" aria-label=".form-select-sm example">
          <option *ngFor="let group of options" [ngValue]="group">{{group.name}}</option>
        </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary bg-light" data-bs-dismiss="modal" routerLink="/computers/addgroup">Create Group</button>
        <button type="button" class="btn btn-secondary bg-light" data-bs-dismiss="modal">Cancel</button>
        <button (click)="addGroup()" type="button" class="btn btn btn-primary" data-bs-dismiss="modal">Add</button>
      </div>
    </div>
  </div>
</div>
