<table class="table table-borderless table-hover">
  <thead>
  <tr class="table2 fixed">
    <th scope="col">Computer</th>
    <th scope="col">Nickname</th>
    <th scope="col">IP</th>
    <th scope="col">MAC</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr class="column1" *ngFor="let computer of availableComputers">
    <td>{{ computer.id }}</td>
    <td>{{ computer.name }}</td>
    <td>{{ computer.ip }}</td>
    <td>{{ computer.mac }}</td>
    <div>

        <button class="list-group-item list-group-item-action" type="button" aria-current="true" (click)="selectClick(computer)" ></button>


    </div>

  </tr>
  <hr class="rounded">
  <tr class="column1" *ngFor="let computers of selectedComputers" >
    <td>{{ computers.id }}</td>
    <td>{{ computers.name }}</td>
    <td>{{ computers.ip }}</td>
    <td>{{ computers.mac }}</td>
    <div>

      <button class="list-group-item list-group-item-action" type="button" aria-current="true" (click)="selectClick(computers)" ></button>


    </div>
  </tr>

  <button class="list-group-item list-group-item-action" type="button" aria-current="true" (click)="test()" ></button>
  </tbody>
</table>

