<div class="container">
  <div class="row justify-content-center">
    <div class="col-xl-8">
      <app-computer-form *ngIf="computer" [form]="form" (saved)="save()" [model]="computer"></app-computer-form>
    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header card-header list-group-item-action">
        <button class="btn " type="text" aria-current="true">Edit Computer</button>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <select class="form-select form-select-sm" aria-label=".form-select-sm example">
          <option selected>Open this select menu</option>
          <option value="1">group7</option>
          <option value="2">group8</option>
          <option value="3">group9</option>
        </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary bg-light" data-bs-dismiss="modal" routerLink="/computers/addgroup">Create Group</button>
        <button type="button" class="btn btn-secondary bg-light" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Add</button>
      </div>
    </div>
  </div>
</div>
