<div class="container">
  <div class="row justify-content-center">
    <div class="col-3">
      <div class="shadow-lg card border-top-primary border-top-3 mb-3">
        <div class="mat-card-header bg-light list-group-item-action">
          <button class="btn" type="button" routerLink="/dashboard" aria-current="true">All Computers
            <svg cIcon class="me-2" name="cilHome"></svg></button>

        </div>
        <div class="card-body">
          <div class="list-group" *ngFor="let group of groups">
            <button class="list-group-item list-group-item-action" type="button" aria-current="true">{{ group.name }}<button class="btn btn-sm btn-primary float-end" routerLink="/computers/addgroup"><svg cIcon class="me-2" name="cilSettings"></svg>Edit</button></button>
          </div>
        </div>
        <div class="mat-card-footer list-group-item-action">
          <button class="btn" type="button" routerLink="/computers/addgroup" aria-current="true">Add Group <app-add-icon></app-add-icon></button>
        </div>
      </div>
    </div>
    <div class="col-auto">
      <div class="card border-top-primary border-top-3 mb-3">
        <div class="card-header ">
          <h3>
            Selected Group: Group69
          </h3>
        </div>
        <div class="card-body">
          <div class="table-computer scrollable">
            <table class="table table-borderless table-hover">
              <thead>
              <tr class="table2 fixed">
                <th scope="col">Computer</th>
                <th scope="col">Nickname</th>
                <th scope="col">IP</th>
                <th scope="col">MAC</th>
                <th scope="col"></th>
              </tr>
              </thead>
              <tbody>
              <tr class="column1" *ngFor="let computer of computers">
                <td>{{ computer.id }}</td>
                <td>{{ computer.name }}</td>
                <td>{{ computer.ip }}</td>
                <td>{{ computer.mac }}</td>
                <td><button class="btn bg-light mat-raised-button" routerLink="/computers/editcomputer"><svg cIcon class="me-2" name="cilSettings"></svg>Edit</button></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
        </div>
      </div>
    </div>
  </div>
</div>

