<div class="container">
  <div class="row justify-content-center">
    <div class="col-3">
      <div class="shadow-lg card border-top-primary border-top-3 mb-3">
        <div class="mat-card-header bg-light list-group-item-action">
          <button class="btn" type="button" routerLink="/dashboard" aria-current="true">All Computers
            <svg cIcon class="me-2" name="cilHome"></svg></button>
        </div>
        <app-group-list [groups]="groups"></app-group-list>
        <div class="mat-card-footer list-group-item-action">

          <button class="btn" type="button" routerLink="/groups" aria-current="true">Add Group <app-add-icon></app-add-icon></button>
        </div>
      </div>
    </div>
    <div class="col-auto">
      <div class="card border-top-primary border-top-3 mb-3">
        <div class="card-header ">
          <h3>
            Selected Group: Group69
          </h3>
        </div>
        <div class="card-body">
          <div class="table-computer scrollable">
            <app-computer-table [computers]="computers" (selected)="edit($event)"></app-computer-table>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
        </div>
      </div>
    </div>
  </div>
</div>

